.weather-details {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.humidity-wind {
  display: flex;
  align-items: flex-start;
  gap: 0.6rem;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.humidity-icon {
  width: 30%;
  height: auto;
}
.wind-icon {
  width: 25%;
  height: auto;
}

.humidity-precentage {
  font-size: 1.4rem;
  margin: 0;
}

.text {
  margin: 0;
}
