* {
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
  font-family: Rubik, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  color: white;
}
